{% extends "FutureStoreSiteBundle::layout.html.twig" %}
{% block title %}registreer{% endblock %}
{% block content %}
	<form class="form-horizontal" action="{{ path('FutureStoreSiteBundle_profile_register') }}" method="POST">
        <fieldset class="register-fieldset">
			{{ form_widget(register_form, {'form_type': 'horizontal'}) }}
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Registreer</button>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}